# My Files #
.cache*
chromedriver.exe
config.py
spotify-dev.txt
downloads/*.mp3

# Python # 
*.py[cod] 
*$py.class 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history